[Unit]
Description=IPFS Node
After=network.target

[Service]
ExecStart=/usr/local/bin/ipfs daemon
ExecReload=/usr/local/bin/ipfs daemon
Restart=on-failure
User=ubuntu
Group=ubuntu
[Install]
WantedBy=default.target
